body {
  background-color: white;
  color: black;
  margin: 0;
}

#logo{
    height: 10px;
    width: 10px;
    color: rgb(175, 61, 80);
}

button {
  background-color: rgb(41, 127, 192);
  border-radius: 200px;
  color: white;
  padding: 8px 16px;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.25);
}


#nav-buttons {
  display: flex;      
  gap: 1rem;          
}

html {
  scroll-behavior: smooth;
}

#nav-buttons a {
  text-decoration: none;
}


.hamburger {
  display: none;      
  font-size: 1.8rem;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}


#content {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

#about{
    border-radius: 20px;
    padding: 1rem;
}

#image{
    border-radius: 20px;
    padding: 1rem;
}

.content {       
  max-width: 600px;     
  min-height: 300px;
  box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  #nav-buttons {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 1rem;
    border: 1px solid red;
  }

  #menu-toggle:checked + .hamburger + #nav-buttons {
    display: flex;
  }
}
#image img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 12px;
}


.skills{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
    border: 1px solid red;
}
.skill-box{
    border: 1px solid red;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}
#skills{
    width: 100vh;
    align-items: center;

}